<reynald.bourtembourg@esrf.fr> <bourtemb@4e9c00fd-8f2e-0410-aa12-93ce3db5e235>
Tomasz Madej <tomasz.madej@s2innovation.com>
Nicolas Leclercq <nicolas.leclercq@esrf.fr>
Michal Liszcz <liszcz.michal@gmail.com>
Damien Lacoste <damien.lacoste@esrf.fr>
Emmanuel Taurel <taurel@esrf.fr>
Mateusz Celary <mateusz.celary@s2innovation.com>
Yury Matveyev <yury.matveev@desy.de>
Sergi Rubio <srubio@cells.es> S Rubio ALBA <sergi.rubio.cells@gmail.com>
Sergi Rubio <srubio@cells.es> srubio <srubio@cells.es>
